#output {
  width: 60vw;
  height: 40vh;
}

#options {
  text-align: center;
  margin-bottom: 20px;
}

.option {
  margin: 20px;
  font-size: 20px;
}

.option:hover {
  color: #77AF9C;
}

.active {
  color: #77AF9C
}

.passive {
  color: black;
}

#generate {
  width: 110px;
}

#generate:hover {
  background-color: #77AF9C;
}