#output {
  width: 60vw;
  height: 40vh;
}

#options {
  text-align: center;
  margin: 20px;
}

.option {
  margin: 20px;
  font-size: 20px;
}

.option:hover {
  color: #A82323;
}

.active {
  color: #E84847
}

.passive {
  color: black;
}

#generate {
  width: 110px;
}