@font-face {
  font-family: newzelek;
  src: url(../fonts/newzelek.ttf);
}

body {
  margin: 0;
  background-color: #EEE;
  font-family: monospace;
}

.button {
  display: block;
  margin: 20px auto;
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
  background-color: #E84847;
  color: white;
  border-radius: 10px;
  padding: 2px;
}

.button:hover {
  background-color: #A82323;
}

.text-box {
  font-family: monospace;
  display: block;
  resize: none;
  margin: 10px auto;
  font-size: 30px;
  border: 10px solid #E84847;
  padding: 5px;
  background-color: #EEE;
  overflow: scroll;
}

#title {
  font-size: 50px;
  text-align: center;
  padding: 20px;
  background-color: #040F0F;
  color: white;
  font-family: newzelek;
}

#links {
  text-align: center;
  font-size: 25px;
  background-color: #E3E3E3;
  color: black;
  margin-bottom: 20px;
  padding: 20px;
}

#links a {
  color: black;
}

#links a:hover {
  color: #A82323;
}
